{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
</head>
<body>
    <H1>Hello World</H1>


    <ul>
        <li><a href="{% url 'main' %}">Main</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li></li>
    </ul>




    <!-- <ul>
        <li>{{Murodjon.surname}} {{Murodjon.age}} {{Murodjon.profession}}</li>
    </ul> -->

    <!-- <ul>
        {% for name in names %}
         <li>{{name}}</li>

        {% endfor %}
    </ul> -->


    <!-- <ul>
        {% for key,value in names.items %}
         <li>{{key}}</li>

        {% endfor %}
    </ul> -->


</body>


</html>